extends layout

block content
  .container
    h1 Privacy Policy
    h2 Your details
    p To allow the functionality of this site, some personal details must be collected, as well as some data retrieved from YNAB. This data is stored securely in our database, and is not made available to any third parties or third party applications.
    h3 Personal Details
    p Your name and email address will be collected to authorise access to your account. 
    h3 YNAB Details
    p To obtain your details from YNAB using the YNAB API, we request ready only access to your YNAB account details. This must be authorised by you via the prompt presented.
    p We use this to access:
      ul 
        li Your account list
        li Your account balances
        li Your category list
        li Your category balances
    p A copy of the last retrieved version of this data will be stored in our database to allow your balance check to be carried out.
    h2 Guarantee
    ul
      li Neither personal data supplied by you, nor data obtained via the YNAB API will not be passed to any third parties.
      li We will not sell your data, or use any data for marketing purposes.